

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">طرف</th>
            <th scope="col">حساب بانکی</th>
            <th scope="col">مبلغ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>قهوه</td>
            <td>بانک ملت</td>
            <td>30,000</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>قهوه</td>
            <td>بانک ملت</td>
            <td>30,000</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>قهوه</td>
            <td>بانک ملت</td>
            <td>30,000</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>قهوه</td>
            <td>بانک ملت</td>
            <td>30,000</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>قهوه</td>
            <td>بانک ملت</td>
            <td>30,000</td>
        </tr>

    </tbody>
</table>

@code {

}
