@*<BitModal @bind-IsOpen=IsOpen>
    <div class="modal-header mx-5 mt-4">
        <span>@(ModalTitle)</span>
        <BitIconButton OnClick="OnClose" IconName="BitIconName.ChromeClose" Title="Close" />
    </div>
    <div class="modal-body mx-5 my-3">
        @(ChildContent)
    </div>
</BitModal>

@code {
    [Parameter]
    public bool IsOpen { get; set; } = false;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClose { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string ModalTitle { get; set; }

}
*@