@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel
@using Framework.Toasts;
@using ServerUI.Infrastructure.ResultModels;
@using ServerUI.Pages.Bank.Services;
@using ServerUI.Pages.BankAccount.Services;
@using ViewModels.BankAccount;
@using ViewModels.Banks;
@using ViewModels.Transactions;

@inject BankService service
@inject ToastMessage _message;

<Form @ref="form"
	  Model="@model"
	  OnFinish="OnFinish"
	  OnFinishFailed="OnFinishFailed"
	  Loading="_loading"
	  Class="p-4">

	<FormItem Label="@(Resources.DataDictionary.Name)" Class="p-2">
		<Input Class="form-control" @bind-Value="@context.Name" />
	</FormItem>

</Form>
@code
{
	private Form<BankViewModel> form = new();
	public BankViewModel model = new();
	private bool _loading = false;

	[CascadingParameter]
	public Bank Index { get; set; }

	public void Submit()
	{
		if (form.Validate())
		{
			_loading = true;
			form.Submit();
			_loading = false;
		}
	}

	private async Task OnFinish(EditContext editContext)
	{


	}

	private void OnFinishFailed(EditContext editContext)
	{
		Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
	}
}