@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu collapseNavMenuEvent="collapseNav" />
    </div>
    
    <main hidden="@isNavCollapsed">
        <div class="top-row px-5 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">درباره</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

</div>

@code {
    private bool isNavCollapsed = false;
    public void collapseNav(bool value)
    {
        isNavCollapsed = !value;
    }
}