@page "/"

<PageTitle>Index</PageTitle>

<h1>سلام حسین عزیز</h1>
<br />
<div class="row my-3">
    <div class="col-md-5 bg-white mx-auto  p-4" style="height:150px;border-radius: 30px;">درآمد ها</div>
    <div class="col-md-5 bg-white mx-auto  p-4" style="height:150px;border-radius: 30px;">هزینه ها</div>
</div>

@*<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
*@